/* @media only screen and (max-width: 570px) {
  .success_login {
    left: 17% !important;
  }
}
@media only screen and (width: 660px) {
  .success_login {
    left: 20% !important;
  }
} */

@media only screen and (max-width: 767px) {
  .log-img {
    display: none;
  }
}
@media only screen and (max-width: 415px) {
  .regis-link-btn > div {
    border: 1px solid black;
    cursor: pointer;
  }
}
