/*  style header*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}



.center {
    margin: auto
}

.top-container,
.nav-bar {
    border: 1px solid var(--main-color-2);
    border-radius: 5px;
}

.top-container {
    display: grid;
    justify-content: center;
    background-color: var(--back-color);
    align-items: center;
    grid-auto-rows: minmax(60px, auto);
    grid-template-columns: repeat( auto-fill, minmax(500px, 1fr));
    margin-bottom: 20px;
    opacity: .8;
    background-color: black;
}

.logo img {
    max-width: 70px;
    max-height: 70px;
}

.logo a {
    text-decoration: none;
}

.logo p {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-shadow: 0 0 10px var(--main-color), 0 0 20px var(--main-color), 0 0 50px var(--main-color-2);
}

.top-container input {
    width: 100%;
    min-height: 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: black;
    color:white;
    font-size: 20px;
     
}
/* chỉ được trên chrome*/
.input1::-webkit-input-placeholder {
    color: white;
  }



.logo-end span {
    font-size: 10px;
    font-weight: normal;
}

.top-container input:hover {
    transition: 2s;
    transition-timing-function: ease;
}

.logo {
    display: grid;
    grid-template-columns: 17% 83%;
    align-items: center;
}

.user-nav {
    margin: auto;
}

.user-nav a {
    text-decoration: none;
    color: var(--main-color-2);
    text-transform: capitalize;
    color: white;
}

.user-nav a:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 10px;
    transition-timing-function: ease;
    transition: 0.3s;
    color: var(--back-color);
}

.nav-bar {
    max-width: 100%;
    background-color: black;
    opacity: .8;
    grid-auto-rows: minmax(60px, auto);
    margin-bottom: 20px;
    
}

.nav-bar ul {
    list-style: none;
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-template-columns: repeat( auto-fill, minmax(20%, 1fr));
    justify-content: center;
    text-transform: capitalize;
    margin: 4px;
    
}

.nav-bar li {
    text-align: center;
    
}

.nav-bar a {
    text-decoration: none;
    color: var(--main-color-2);
    font-size: 25px;
    color: white;
}

.nav-bar a:hover {
    color: var(--main-color);
    background-color: var(--back-color);
    border: 1px solid var(--main-color-2);
    border-radius: 10px;
    padding: 5px;
    transition: all 200ms ease;
    transform: scale();
}

/*style footer*/
.ending {
    background-color: black;
    width: 100%;
    padding: 50px;
}

.footer {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 20%;
    /* grid-template-rows: auto;    */
    /* text-align: center; */
}

.footer-header {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 20%;
    /* text-align: center; */
    z-index: 2;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-header h2{
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.footer li {
    margin-bottom: 15px;
    color: var(--back-color);
}

.footer a {
    text-decoration: none;
    color: var(--back-color);
    text-transform: capitalize;
}



.logo-end {
    display: grid;
    grid-template-columns: 10% 90%;
}

.logo-end img {
    position: relative;
    top: -20px;
}

.logo-end p {
    position: relative;
    right: -90px;
    top: -20px;
    font-weight: bold;
    color: var(--back-color);
}

.logo-end p+p {
    font-size: 10px;
    font-weight: normal;
}

.footer-in4-follow img {
    max-width: 50px;
}

.footer-in4-apps img {
    max-width: 30px;
    display: flex;
}

.footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0em;
    padding-right: 20px;
}

.logo-end p{
    padding-left: 10px;
}
/* responsive for header and footer*/
@media only screen and (max-width: 1366px) {
    .top-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .top10films {
        display: grid;
    }
    .top10-align {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 10px;
    }
    .top10-align a {
        position: relative;
        right: -70px;
    }
    .footer {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 15% 10% 10% 20%;
    }
    .footer-header {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 15% 10% 10% 20%;
    }
}

/* root */
:root {
    --main-color: rgb(219, 112, 147);
    --back-color: white;
    --main-color-2: black;
    --main-color-hover: rgb(219, 112, 147, 1);
    --blur-background-hover: rgba(0, 0, 0, .4);
}